

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/


### Custom ###
!.mvn/wrapper/maven-wrapper.jar
build/
bin/
target/
node/
node_modules/
src/main/resources/private/
cordova/res/
cordova/platforms/*
cordova/plugins/*
private/
nbbuild/
dist/
nbdist/
.nb-gradle/
.gradle/
oc.exe